.outer-container{
    background-color: gainsboro;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    border: 3px solid;
    text-align: center;
    
}

body{
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(purple, pink);
    padding-bottom: 200px;
}

.score{
    padding: 15px;

}

.input-container{
    padding: 15px;
}

.submit-button button{
    padding: 15px;
    border: 1px solid;
}

#grad {
    background-image: linear-gradient(purple, pink);
}