.outer-container{
    background-color: gainsboro;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    border: 3px solid;
    text-align: center;
    box-shadow: 15px 15px 15px rgb(128, 0, 128);
    
}

body{
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(purple, pink);
    padding-bottom: 350px;
}

.score{
    padding: 15px;

}

.input-container{
    padding: 15px;
}

.submit-button button{
    padding: 15px;
    background-color: rgb(104, 88, 243);
    border-radius: 5px;
}

#grad {
    background-image: linear-gradient(purple, pink);
}